#Removing reference to database key. Use example provided
# dependencies
/server/node_modules
/client/node_modules
/.pnp
.pnp.js

#Database

# testing
/coverage

# production
/client/build

# misc
.env
.gitignore
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

