/* For mobile*/
@media screen and (max-width: 448px) { 

    .pokemonCatalog-flex {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        width: 100%;
        height: 100%;
        overflow: auto;
        overflow-x: hidden;
    
    }

    .pokemonCatalog-object {
        margin: 1px;
        border: 2px solid rgb(208, 230, 233);
        background-color: white;
        border-radius: 5px;
        height: auto;
    
    }

    .active-pokemonCatalog-object {
        margin: 0.5px;
        border: 2px solid yellow;
        background-color: rgb(208, 230, 233);
        border-radius: 5px;
        height: auto;
    
    }


    .pokemonCatalog-image {
        max-width: 100%;
        height: 4.4vh;
        height: calc(var(--vh, 1vh) * 4.4);
    }

    .pokemonCatalog-p {
        display: none;
    }

    .itemCatalog-flex {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        width: 100%;
        margin: auto;
        height: 100%;
        overflow: auto;
        overflow-x: hidden;
    
    }

    .itemCatalog-object {
        margin: 1px;
        border: 2px solid rgb(208, 230, 233);
        border-radius: 5px;
        height: auto;
        background-color: white;

    
    }

    .active-itemCatalog-object {
        margin: 1px;
        border: 2px solid yellow;
        background-color: rgb(208, 230, 233);
        border-radius: 5px;
        height: auto;
    
    }


    .itemCatalog-image {
        max-width: 100%;
        height: 4.4vh;
        height: calc(var(--vh, 1vh) * 4.4);
    }

    .itemCatalog-p {
        display: none;
    }

    .team-flex {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        align-content: flex-start;
        width: 100%;
        height: 55vh;
        height: calc(var(--vh, 1vh) * 55);
        overflow: auto;
        overflow-x: hidden;
    
    }
    .team-object {
        margin: 2px;
        border: 2px solid rgb(208, 230, 233);
        border-radius: 5px;
        height: auto;
        background-color: white;
    }
    
    .active-team-object {
        margin: 2px;
        border: 2px solid yellow;
        background-color: rgb(208, 230, 233);
        border-radius: 5px;
        height: auto;
    
    }

    .team-image {
        max-width: 100%;
        height: 12vh;
        height: calc(var(--vh, 1vh) * 12);
    }

    .p-team {
        display: none;
    }

    .p-team-nickname{
        display: none;
    }

    .box{
        height: 28vh;
        height: calc(var(--vh, 1vh) * 28);
        padding-top: 5px;
        border: 2px solid rgb(208, 230, 233);
        background-color: white;
    }

    .box-flex {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        height: 100%;
        overflow-y: hidden;
        overflow-x: auto;
        align-items: flex-start;
        align-content: flex-start;
    }

    .box-object {
        margin: 2px;
        border: 2px solid rgb(208, 230, 233);
        border-radius: 5px;
        height: auto;
        background-color: white;
    }
    
    .active-box-object {
        margin: 2px;
        border: 2px solid yellow;
        background-color: rgb(208, 230, 233);
        border-radius: 5px;
        height: auto;
    
    }

    .box-image {
        max-width: 100%;
        height: 7vh;
        height: calc(var(--vh, 1vh) * 7);
    }

    .p-box {
        display: none;
    }

    .p-box-nickname {
        display: none;
    }

}

/* For desktop*/
@media screen and (min-width: 449px) { 

    .pokemonCatalog-flex {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        align-content: flex-start;
        width: 100%;
        height: 100%;
        overflow: auto;
        overflow-x: hidden;
    
    }

    .pokemonCatalog-object {
        margin: 2px;
        border: 2px solid rgb(208, 230, 233);
        border-radius: 5px;
        height: auto;
        background-color: white;
    }

    .active-pokemonCatalog-object {
        border: 2px solid yellow;
        background-color: rgb(208, 230, 233);
        margin: 2px;
        border-radius: 5px;
        height: auto;
    }

    .pokemonCatalog-image {
        max-width: 100%;
        height: 9vh;
    }

    .pokemonCatalog-p {
        margin: 1px;
        text-align: center;
        text-transform: capitalize;
    
    }

    .itemCatalog-flex {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        align-content: flex-start;
        width: 100%;
        height: 100%;
        overflow: auto;
        overflow-x: hidden;
    
    }

    .itemCatalog-object {
        margin: 2px;
        border: 2px solid rgb(208, 230, 233);
        border-radius: 5px;
        height: auto;
        background-color: white;
    }

    .active-itemCatalog-object {
        border: 2px solid yellow;
        background-color: rgb(208, 230, 233);
        margin: 2px;
        border-radius: 5px;
        height: auto;
    }

    .itemCatalog-image {
        max-width: 100%;
        height: 9vh;
    }

    .itemCatalog-p {
        margin: 1px;
        text-align: center;
        text-transform: capitalize;
    }

    .team-flex {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: space-around;
        width: 75%;
        margin: auto;
        height: 50vh;
        height: calc(var(--vh, 1vh) * 50);
        overflow: auto;
        overflow-x: hidden;
    
    }

    .team-object {
        margin: 2px;
        border: 2px solid rgb(208, 230, 233);
        border-radius: 5px;
        background-color: white;
    }
    
    .active-team-object {
        margin: 2px;
        border: 2px solid yellow;
        background-color: rgb(208, 230, 233);
        border-radius: 5px;
    
    }

    .team-image {
        max-width: 100%;
        height: 20vh;
        height: calc(var(--vh, 1vh) * 20);
    }

    .p-team {
        margin-top: -12px;
        margin-bottom: 2px;
        text-transform: capitalize;
        text-align: center;
    }

    .p-team-nickname{
        margin-top: -12px;
        margin-bottom: 2px;
        text-align: center;
    }

    .box{
        height: 35vh;
        height: calc(var(--vh, 1vh) * 35);
        border: 2px solid rgb(208, 230, 233);
        background-color: white;
    }

    .box-flex {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        height: 100%;
        overflow-y: hidden;
        overflow-x: auto;
        align-items: flex-start;
        align-content: flex-start;
    }

    .box-object {
        margin: 2px;
        border: 2px solid rgb(208, 230, 233);
        border-radius: 5px;
        background-color: white;
    }
    
    .active-box-object {
        margin: 2px;
        border: 2px solid yellow;
        background-color: rgb(208, 230, 233);
        border-radius: 5px;
    
    }

    .p-box {
        margin-top: -12px;
        margin-bottom: 2px;
        text-transform: capitalize;
        text-align: center;
    }

    .p-box-nickname{
        margin-top: -12px;
        margin-bottom: 2px;
        text-align: center;
    }
}